.photo__button_basket {
    background-image: url(../mesto/images/Basket.svg);
    position: absolute;
    top: 18px;
    right: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    outline: none;
}

/*.popup__zoom {
    display: flex;
}*/

.popup__form_image {
    height: 100vh;
    width: 100vh;
}

.popup__form_zoom {
    max-width: 816px;
    max-height: 540px;
}