.popup__container {
    display: flex;
    flex-direction: column;
    width: 466px;
    height: 366px;
    margin: auto;
    margin-top: 155px;
    transform: translate(4.1%, -1%);
}

@media screen and (max-width : 500px) {
    .popup__container {
        width: 100%;
        transform: translate(0, 0);
    }
    
}

@media screen and (max-height : 500px) {
    .popup__container {
        margin-top: 5%;
        height: 80%;
    }
}