

.photo__button {
    background-image: url(../../../../images/Vector_like.svg);
    outline: none;
    width: 21px;
    height: 19px;
    background-color: transparent;
    background-repeat: no-repeat;
    
}

.photo__button:hover {
    transform: scale(1.3);
    opacity: 1;
}

.photo__button_active {
    background-image: url(../../../../images/Vector_active.svg);
}