@import url(../header/__logo/header__logo.css);

.header {
    display: flex;
    align-items: center;
    max-width: 882px;
    margin: auto;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width : 640px) {
    .header {
        width: 90%;
    }
}

