.footer__copyright {
    margin: 66px auto 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 60px;
    color: #545454;
}

@media screen and (max-width : 320px) {
    .footer__copyright {
        margin-top: 36px;
        padding-bottom: 48px;
    }
}