@import url(../footer/__copyright/footer.copyright.css);

.footer {
    max-width: 882px;
    margin: auto;
}

@media screen and (max-width : 640px) {
    .footer {
        width: 88%;
    }
}

@media screen and (max-width : 320px) {
    .footer {
        max-width: 282px;
    }
    }